.delete  {
    cursor: pointer;
    font-size: 20px;
}
.delete:hover {
     color: red;
 }

.edit {
    border: none;
}

.add {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 20px;
}
